body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#darkness {
  background-color: black;
}

#diagnostics {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  color: rosybrown;
}

#chargeBar {
  position: absolute;
  bottom: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#chargeContainer {
  width: 40vw;
  border: 1px solid orange;
}
#chargeAmount {
  background-color: orange;
  height: 30px;
}
