body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#darkness {
  background-color: black;
}
#diagnostics {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  color: rosybrown;
}
#chargeBar {
  position: absolute;
  bottom: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0.8;
}
#chargeContainer {
  width: 40vw;
  border: 1px solid orange;
  border-radius: 8px;
}
#chargeAmount {
  transition: width 0.2s;
  background-color: orange;
  height: 30px;
  border-radius: 8px;
}
#announcement {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 36%;
  width: 100%;
  color: gold;
  text-shadow: 0px 0px 2px black;
  font-size: 270%;
}
#countdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 70%;
  width: 100%;
  color: gold;
  text-shadow: 0px 0px 2px black;
  font-size: 170%;
}
